# Telegram Bot API Config
# Lấy BOT_TOKEN từ @BotFather
TELEGRAM_BOT_TOKEN=8205091183:AAGbPcGbSeKOheOplRPCqtRZ-HVyE-DKorw
# Chat ID của Telegram Channel riêng tư (ví dụ: -100123456789)
TELEGRAM_CHAT_ID= -1003979953960

# Database Config (SQLite)
DATABASE_PATH=app_storage.db

# Server Config
PORT=8000
HOST=0.0.0.0
